@font-face{
     font-family: "Grafier-RegularDisplay.otf";
     src: url("fonts/Grafier-RegularDisplay.otf");
}
body{
	background-color: black;

}
.opacity{
  animation: opacity 0.5s linear forwards;
  animation-delay: 0.5;
  animation-iteration-count: 1;
opacity: 0;
}

@keyframes opacity {

  0% {

    opacity: 0;
  }

  100% {

    opacity: 1;
  }
}

header{
	height: 10vh;
	margin: 2em;
	line-height: 0.5em;
}

.blanc{
  background-color: white;
}
.detail{
  text-align: center;
  padding-top: 3em;
}
.descriptif{
  padding-top: 2em;
}
.pres img {
  width: 30%; /* need to overwrite inline dimensions */
  height: auto;
  display: flex;
  margin: 0 auto;
}

img {
  width: 50%; /* need to overwrite inline dimensions */
  height: auto;
  padding-right: 10em;
  padding-left: 10em;
  margin: 0 auto;
  display: flex;
  padding: 1em;
}
.retour h5{
  max-width: 100px;
text-align: center;
margin: 0 auto;
display: flex;
padding: 6em;
}

a{
  text-decoration: none;

}

.text{
padding: 3em;
  margin-left: 20%;
  margin-right: 20%;
}
h1 a{
  font-size: 0.63em;
  text-decoration: none;
  outline: none;
	color: white;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
}
h5{
  letter-spacing: 0.62em;
  font-size: 0.5em;
	color: blue;
	font-weight: bold;
	font-family: 'Orbitron', sans-serif;
}
h2{
  text-align: center;
  font-size: 1em;
	color: white;
  font-weight: lighter;
	font-family: 'Montserrat', sans-serif;
  line-height: 1.5em;
  
}

h3{
  text-align: center;
  font-size: 2em;
	color: white;

	font-family: "Grafier-RegularDisplay.otf";
}
