body
{
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
	height: auto;
}
.header{
  margin: 20px;
}
.title span{
	font-weight: 100;
	font-size: 0.5em;
}


img{
	max-height: 2em;
}

.rectangle {
  height: 50px;
  width: 100px;
  background-color: #555;
}
#foot{
	background-color: black;
	height: 10em;
	padding-inline-start: 40px;



}
#foot li{
	color: white;
	list-style: none;
}
#foot li a{
	color: white;
	font-size: 0.8em;
	font-weight: 400;
}
#col{
    display:block;
		position:relative;
		padding-inline-end: 40px;

}

#col ul li{
    display: inline-block;
    width:8% ;
}
header{
	background-color: white;
	padding: 20%;
	margin-bottom: 2em;
}
.contact h7{
	padding-inline-start: 10px;
}
.contact{
	height: 98%;
	margin: 50px;
}
